*.png
*.jpg
*.ini
*.qdb
*.qtl
*.qtl
*.qpf
*.qsf
*.qws
*.do
*.rpt
*.mem
*.cdb
*.hdb
*.db_info
*.hier_info
*.xml
*.html
*.sci
*_info
*.summary
*.bak
*_db
*.txt
*.wlf
*.qpg
*.bak6
*.bak5
*.bak4
*.bak3
*.bak7
*.bak2
*.bak1
*.hif
*.rdb
_vmake
*_transcript
*.done
*mif
*.flock
*.qmsg
*.pyc
.gitignore
asm_example.mem
./Fady's_files/work/
./Test/work/
/work/